.mission-container {
  width: 95%;
  margin: auto;
}

.not-member {
  background-color: grey;
  color: white;
  border-radius: 20px;
  border: none;
}

.join {
  background-color: transparent;
}

.status,
.mission-name {
  width: 12%;
  overflow: hidden;
}

.table-rows {
  vertical-align: middle;
}
